# Node.js files
.env.*
.npm
node_modules
npm-debug.log

# Next.js build output
.next
build

# Jest
.swc
coverage
junit.xml

# Storybook
.nyc_output
storybook-static
build-storybook.log

# Build files
.turbo
cache

# Cache files
.eslintjscache
.eslintmdcache
.prettiercache
.stylelintcache

# TypeScript
tsconfig.tsbuildinfo

# Sentry config file
.sentryclirc
