# Website development
* @ehharding

# Infrastructure
.github @ehharding
.husky @ehharding

# Framework
next.config.mjs @ehharding
next.dynamic.mjs @ehharding

# Science Center release blog posts
/pages/en/blog/announcements @ehharding
/pages/en/blog/release @ehharding

# Package ecosystem
package.json @ehharding
turbo.json @ehharding

# Web infrastructure
redirects.json @ehharding
site.json @ehharding
